:root {
    --deepeshdg-primary: #ff0000;
}

.deepeshdg-video-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;

    .deepeshdg-video-controls-container {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        color: white;
        opacity: 0;
        transition: 150ms all;
        transition-delay: 1.3s;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(
                to top,
                rgba(22, 21, 21, 0.65),
                transparent
            );
            aspect-ratio: 6 / 1;
        }

        .mouse-event-zone {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
        }

        .controllers {
            padding: 16px 16px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            right: 0%;
            z-index: 2;

            .controls {
                position: relative;
                display: flex;

                .left,
                .right {
                    display: flex;

                    > * {
                        margin: 0px 4px;
                    }
                }

                .left {
                    margin-right: auto;
                }

                .right {
                    margin-left: auto;
                }
            }

            .icon-btn {
                background-color: transparent;
                margin: 4px 0px;
                padding: 8px;
                color: inherit;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                border: none;
                outline: none;
                opacity: 0.8;
                transition: 200ms ease-in;

                &:hover,
                &:focus,
                &:focus-within {
                    opacity: 1;
                    background-color: rgba(60, 64, 67, 0.3);
                }
            }

            input[type="range"] {
                -webkit-appearance: none;
                background: transparent;
                position: relative;
                overflow: hidden;
                height: 10px;
                margin: auto;
                border-radius: 10px;
                cursor: pointer;

                &::-webkit-slider-runnable-track {
                    background: #ddd;
                    height: 2px;
                }

                &::-moz-range-track {
                    background: #ddd;
                }

                &::-webkit-slider-thumb {
                    box-shadow: 0px 0px 0px #000000;
                    border: 0px solid #000000;
                    height: 14px;
                    width: 20px;
                    border-radius: 12px;
                    background: #fff;
                    box-shadow: -5000px 0px 0px 4990px var(--deepeshdg-primary);
                    transform: translateY(-6px);
                    cursor: pointer;
                    -webkit-appearance: none;
                }

                &::-moz-range-thumb {
                    box-shadow: 0px 0px 0px #000000;
                    border: 0px solid #000000;
                    height: 14px;
                    width: 20px;
                    border-radius: 12px;
                    background: #fff;
                    box-shadow: -5000px 0px 0px 4990px var(--deepeshdg-primary);
                    cursor: pointer;
                }
            }

            .timeline-controller {
                padding: 0rem 12px;

                .timeline-slider {
                    width: 100%;
                    height: 5px;

                    &::-webkit-slider-runnable-track {
                        height: 1px;
                    }

                    &::-webkit-slider-thumb {
                        height: 6px;
                        width: 16px;
                        border-radius: 6px;
                        transform: translateY(-2.5px);
                    }

                    &::-moz-range-thumb {
                        box-shadow: 0px 0px 0px #000000;
                        border: 0px solid #000000;
                        height: 6px;
                        width: 16px;
                        border-radius: 6px;
                        background: #fff;
                        box-shadow: -5000px 0px 0px 4990px
                            var(--deepeshdg-primary);
                        cursor: pointer;
                    }
                }
            }

            .volume-container {
                display: flex;
                align-items: center;

                .volume {
                    &-high-icon,
                    &-low-icon,
                    &-muted-icon {
                        display: none;
                    }
                }

                .volume-slider {
                    cursor: pointer;
                    width: 0px;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: 200ms transform;
                    transition: 300ms all;
                    margin: 0px 4px;

                    &:focus-within {
                        transform: scaleX(1);
                        width: 100px;
                    }
                }

                &:hover {
                    .volume-slider {
                        transform: scaleX(1);
                        width: 100px;
                    }
                }
            }

            .duration-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                flex-grow: 1;
            }
        }
    }

    &.paused,
    &.hover {
        .deepeshdg-video-controls-container {
            opacity: 1;
            transition-delay: 0ms;
        }
    }

    &.fullscreen {
        width: 100%;
        max-width: initial;
        height: 100vh;
        background-color: #000000;

        .deepeshdg-video-controls-container {
            .controllers {
                .fullscreen-btn {
                    .open {
                        display: none;
                    }
                }
            }
        }
    }

    &:not(.fullscreen) {
        .deepeshdg-video-controls-container {
            .controllers {
                .fullscreen-btn {
                    .close {
                        display: none;
                    }
                }
            }
        }
    }

    &.paused {
        .play-pause-btn {
            .pause-icon {
                display: none;
            }
        }
    }
    &:not(.paused) {
        .play-pause-btn {
            .play-icon {
                display: none;
            }
        }
    }

    &[data-volume-level="high"] {
        .deepeshdg-video-controls-container {
            .controllers {
                .volume-container {
                    .volume-high-icon {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &[data-volume-level="low"] {
        .deepeshdg-video-controls-container {
            .controllers {
                .volume-container {
                    .volume-low-icon {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &[data-volume-level="muted"] {
        .deepeshdg-video-controls-container {
            .controllers {
                .volume-container {
                    .volume-muted-icon {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .focus-btn {
        background-color: transparent;
        outline: none;
        border: none;
        width: 0px;
        height: 0px;
    }
}
